html,
body {
  margin: 0;
  padding: 0;
  touch-action: none;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

.content {
  height: 100%;
}

#tab-bar.demo {
  display: flex;
  flex-direction: column;
}

#tab-bar .demoName {
  height: 40px;
}

#tab-bar .demo-preview-item .am-tab-bar {
  background-color: white;
}

/* .am-tabs-tab-bar-wrap {
  width: 100% !important;
  position: fixed !important;
  bottom: 0 !important;
} */

.am-tab-bar-bar .am-tab-bar-tab:nth-child(3) i {
  color: #fb7299 !important;
  font-size: 2.3rem !important;
  margin-top: 24% !important;
  transform: none !important;
}