.dynamic-find {
  width: 100%;
  max-height: 80%;
}

.dynamic-find .dynamic-main {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.dynamic-find .dynamic-main .dynamic-main-left {
  width: 10%;
}

.dynamic-find .dynamic-main .dynamic-main-rigth {
  width: 90%;
}

.am-search {
  width: 300px;
  background: #fb7299;
}

.am-search-cancel {
  color: #fff;
  margin-right: 0px !important;
}