.home {
    height: 100%;

}

.top {
    height: 6%;
    overflow: hidden;
    background-color: #fb7299;
    /* position: fixed; */
    width: 100%;
}

.top h3 {
    float: left;
    height: 100%;
    line-height: 250%;
    color: #fff;
    margin-left: 4%;
}

.top i {
    float: right;
    height: 100%;
    line-height: 200%;
    margin-right: 4%;
    font-size: 1.5rem;
    color: #fff;
}

.mid {
    background: #fff;
    /* height: 100%; */
    padding-top: 12%;
}

.mid img {
    width: 100%;
    height: 40%;
}

.mid .char {
    line-height: 200%;
    padding-top: 10%;
    width: 80%;
    margin: auto;
}

.btm {
    display: flex;
    width: 80%;
    position: absolute;
    bottom: 3%;
    left: 55%;
    transform: translate(-50%, 0%);
}

.btm i {
    font-size: 1.1rem;
    flex: 1;
}

.btm i span {
    font-size: 0.7rem;
}

/* .slider-list {
    transform: translate3d(-2705.3px, 0px, 0px) !important;
} */

/* .slider-list li:last-child {
    background: red;
    display: none !important;
} */

/* .am-pull-to-refresh-down {
    position: relative;
} */