.home {
    height: 100%;
}

.top {
    height: 6%;
    overflow: hidden;
    background-color: #fb7299;
    /* position: fixed; */
    width: 100%;
}

.top h3 {
    float: left;
    height: 100%;
    line-height: 250%;
    color: #fff;
}

.top i {
    float: right;
    height: 100%;
    line-height: 250%;
}

.space-carousel {
    padding: 16px;

    overflow: hidden;
}

.mid {
    background: #fff;
    /* height: 100%; */
    padding-top: 12%;
}

.mid img {
    width: 100%;
}